{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script>
    var page = 'configure'
    var widgetClasses = {{ widget_classes | safe }}
    var widgetClassConfigurations = {{ widget_class_configurations | safe}}
    var submitUrl = '/create_widget/'
    var csrfToken = '{{ csrf_token }}'
  </script>
</head>
<body>
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  <div class="App" id="react">Loading</div>
  {% render_bundle 'runtime' 'js' %}
  {% render_bundle 'main' 'js' %}
</body>
</html>
