#react .widget-home {
    position: relative;
}

#react .widget-home .widget-sidebar {
    position: absolute;
    width: 400px;
    right: 0;
    top: 0;
    padding-top: 20px;
    margin: 5px;
}

.App {
  height: 100%;
  min-height: 400px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  position: relative;
  left: 10px;
  top: 10px;
}

.App .widget-form .widget-form-title {
    font-size: 30px;
    text-align: center;
}

.App .widget-form .widget-form-body {
    margin: 10px;
    font-size: 14px;
    text-align: left;
    border-radius: 5px;
    border: 2px solid #b3b3b3;
    padding: 10px;
    width: 500px;
}

.App .widget-form .widget-form-body .form-group {
    margin: 5px;
}

.App .widget-form .widget-form-body .form-group .form-label {
    font-weight: bold;

}

.App .widget-form .widget-form-body .form-group .form-input {
    margin-left: 10px;
}

.App .widget-form .widget-form-body .form-group textarea {
    width: 300px;
    height: 100px;
}

.App .widget-form .widget-form-body .form-group .submit-btn {
    float: right;
    position: relative;
    bottom: 30px;
}

.App-flex {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-heading {
  background-color: #222;
  color: #f8f8f8;
  font-size: 6vh;
  box-shadow: 0px 4px 4vh 4px rgba(34,34,34,0.9);
  z-index: 2;
}

.App-react {
  color: #00d8ff;
  text-decoration: overline underline;
}

.App-logo {
  max-height: 30vh;
  max-width: 30vh;
}

.App-instructions {
  background-color: #f8f8f8;
  color: #222;
  font-size: 3vh;
  line-height: 1.5;
  padding: 0 1em;
}

.App-instructions code {
  background-color: #222;
  color: #00d8ff;
  padding: .2em .3em;
  border-radius: .2em;
}

